body {
    background-color: #CAE3C2;
    font-family: 'Finlandica';
    margin: 30px;
}

.app {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-column-gap: 4em;

}

.part {}

h1 {
    color: #2D5520;
    font-size: 22px;
    margin-top: 0;
}

.light {
    color: #7D9E73;
    font-size: 13px;
}

.header {
    margin-bottom: 30px;
}

.linkButton {
    margin-top: 15px;
    background-color: #2D5520;
    width: calc(100% - 50px);
    padding: 25px;
    color: #CAE3C2;
    font-size: 17px;
    border-radius: 5px;
    display: table;
    transition-timing-function: ease-out;
    transition: transform 0.2s;
}

.linkButton:hover {
    transform: scale(1.05);
}

.linkButton:active {
    transform: scale(0.98);

}

.linkButtonText {
    display: table-cell;
    width: calc(100% - 35px);
}

.linkButtonIcon {
    display: table-cell;
    width: 40px;
    vertical-align: middle;
    text-align: right;
}

.smallButtonIcon {
    display: table-cell;
    vertical-align: middle;
    width: 17px;
    margin-top: 2px;
}

.smallButtonText {
    display: table-cell;
    vertical-align: middle;
    padding-left: 7px;
    text-decoration: none;

}

.smallButtonLong {
    width: calc(100% - 20px);
}

.smallButton {
    margin-top: 15px;
    background: #2D5520;
    padding: 10px;
    color: #CAE3C2;
    font-size: 17px;
    border-radius: 5px;
    display: table;
    transition-timing-function: ease-out;
    transition: transform 0.2s;
}

.smallButton:hover {
    transform: scale(1.05);
}

.smallButton:active {
    transform: scale(0.98);

}

.resetLink {
    text-decoration: none;
}

.statisticCard {
    margin-top: 15px;
    border: 2px solid #2D5520;
    width: calc(100% - 54px);
    padding: 25px;
    color: #2D5520;
    font-size: 22px;
    border-radius: 5px;
    display: table;
    text-align: center;
}

.tabCard {
    margin-top: 15px;
    border: 2px solid #2D5520;
    width: calc(100% - 20px);
    padding: 8px;
    color: #2D5520;
    font-size: 22px;
    border-radius: 5px;
    transition: max-height 0.2s;
    height: auto;
    max-height: 900px;
    animation-duration: 0.4s;
}

.tabCardSwitcher {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.tab {
    text-align: center;
    font-size: 17px;
    padding: 9px 0 9px 0;
    color: #2D5520;

    z-index: 2;
}

.selectedTab {
    color: #CAE3C2;
}

.tabCardSwitcher:hover #tabSelector {
    transform: scale(1.05);
}

.tabCardSwitcher:active #tabSelector {
    transform: scale(0.98);
}

.tabCardContent {
    padding: 4px;
    font-size: 17px;
}


ul {
    padding-left: 10px;
    list-style-type: none;
  }
  
  ul li {
    margin-top: 12px;
    padding-left: 2rem;
    background-image: url('images/bullet.svg');
    background-position: 0 2px;
    background-size: 14px 14px;
    background-repeat: no-repeat;
  }

#tabSelector {
    width: 50%;
    position: absolute;
    background-color: #2D5520;
    height: 35px;
    border-radius: 5px;
    top: 1px;
    transition-timing-function: ease-out;
    transition: transform 0.2s;
}

.graphCard {
    user-select: none;
    position: relative;
    margin-top: 15px;
    border: 2px solid #2D5520;
    width: calc(100% - 4px);
    height: 150px;
    color: #2D5520;
    font-size: 22px;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 35px;
    background-color: #2D5520;
}

.statisticCardValue {
    display: block;
    margin-top: 5px;
    font-size: 37px;
    font-weight: bold;
}

hr {
    border: none;
    border-bottom: 1px solid #A2CC94;
    width: 50%;
    margin: 35px auto 35px auto;
    display: block;
}

.graphCardTitle {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    color: #2D5520;
    font-size: 22px;
    margin-top: 27px;
}

.graphCardTooltip {

    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 110px;

    text-align: center;
    background-color: rgba(255, 255, 255);
    color: #2D5520;
    font-size: 14px;
    padding: 5px 30px 5px 30px;
    border-radius: 3px;
    margin-top: -23px;
    animation-duration: 0.8s;
}

.graphCard canvas {
    background-color: #CAE3C2;
}

a {
    color: #2D5520;
    text-decoration: none;
    border-bottom: 1px solid #2D5520;
}

p {
    color: #2D5520;
    font-size: 17px;
    margin-bottom: 35px;
}

#mapSvgContainer {
    user-select: none;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    -webkit-tap-highlight-color: transparent;

}

#mapSvgContainer path {
    transition: opacity 0.2s;
}

#mapTooltipArea {
    font-size: 22px;
    font-weight: bold;
    display: block;
    animation-duration: 0.6s;
}

#mapTooltipValue {
    font-size: 17px;
    display: block;
    animation-duration: 0.6s;
}

.map {
    margin-top: 35px;
}