body {
    background-color: #CAE3C2;
    font-family: 'Finlandica';
    margin: 30px;
}
.app {}

h1 {
    color: #2D5520;
    font-size: 22px;
}

.light {
    color: #7D9E73;
    font-size: 13px;
}

.header {
    margin-bottom: 30px;
}

.linkButton {
    margin-top: 15px;
    background-color: #2D5520;
    width: calc(100% - 50px);
    padding: 25px;
    color: #CAE3C2;
    font-size: 17px;
    border-radius: 5px;
    display: table;
}

.linkButtonText {
    display: table-cell;
    width: calc(100% - 35px);
}
.linkButtonIcon {
    display: table-cell;
    width: 40px;
    vertical-align: middle;
    text-align: right;
}

.resetLink {
    text-decoration: none;
}

.statisticCard {
    margin-top: 15px;
    border: 2px solid #2D5520;
    width: calc(100% - 54px);
    padding: 25px;
    color: #2D5520;
    font-size: 22px;
    border-radius: 5px;
    display: table;
    text-align:center;
}

.graphCard {
    margin-top: 15px;
    border: 2px solid #2D5520;
    width: calc(100% - 4px);
    height: 150px;
    color: #2D5520;
    font-size: 22px;
    border-radius: 5px;
    text-align:center;
   padding-bottom: 35px;
   background-color: #2D5520;
}

.statisticCardValue {
    display: block;
    margin-top: 5px;
    font-size: 37px;
    font-weight: bold;
}

hr {
    border: none;
    border-bottom: 1px solid #A2CC94;
    width: 50%;
    margin: 35px auto 35px auto;
    display: block;
}

.graphCardTitle { 
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    color: #2D5520;
    font-size: 22px;
    margin-top: 27px;
}
.graphCardTooltip {
   
    position: absolute;
left: 0;
right: 0;
margin: auto;
width: 110px;

text-align: center;
background-color: rgba(255,255,255);
color: #2D5520;
font-size: 14px;
padding: 5px 30px 5px 30px;
border-radius: 3px;
margin-top: -23px;
animation-duration: 0.8s;
}
.graphCard canvas {
    background-color: #CAE3C2;
}

a {
    color: #2D5520;
    text-decoration: none;
    border-bottom: 1px solid #2D5520;
}

p {
    color: #2D5520;
    font-size: 17px;
    margin-bottom: 35px;
}

#mapSvgContainer {
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
   
}
#mapSvgContainer path {
    transition: opacity 0.2s;
}

#mapTooltipArea {
    font-size: 22px;
    font-weight: bold;
    display: block;
    animation-duration: 0.3s;
}
#mapTooltipValue {
    font-size: 17px;
    display: block;
    animation-duration: 0.3s;
}
.map {
    margin-top: 30px;
}